
<!DOCTYPE html>
{% load staticfiles %}
 <title> Semaphores and Synchronization </title>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href='/static/css/styles1.css' rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Merriweather:300,700' rel='stylesheet' type='text/css'>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
</head>


<body>
<h1>Semaphores</h1>
        <div class="container cards1">

              <div>
                <a href="demo/1" class="resultitem"><span>
                  <img src="{% static './images/index.png' %}"></img>
                  <h2>Producer Consumer</h2>
                </span>
              </div>


              <div class="option-4">
                <a href="demo/2" class="resultitem"> <span>
                  <img class="users" src="{% static './images/reader.jpeg' %}"></img>
                  <h2>Reader Writer </h2>

                <span> </a>
              </div>

              <div>
                <a href="demo/5" class="books resultitem"><span>
                  <img src="{% static './images/206px-sleeping_barber.png' %}" class="book-img"></img>
                  <h2>Sleeping Barber</h2>
                </span></a>
              </div>


          </div>

          <div class="container cards2">

                <div>
                  <a href="demo/3" class="resultitem"><span>
                    <img src="{% static './images/dining.png' %}"></img>
                    <h2>Dining Philosopher</h2>
                  </span>
                </div>





            </div>
</body>
